*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Properties that remain the same through html, body, and wrapper class */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Specifies font family and background color for page body */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}
/* Specifies padding to container containing button and password */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
  /* Specifies where title of page will be displayed as well as size and color */
  header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
  }
  /* Specifies properties of the container containing the 'password' text area
  and the generate button */
  .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
  }
    /* Creates a grey line across the bottom of the container header/beneath the 
    'generate a password' title */
    .card-header::after {
      content: " ";
      display: block;
      width: 100%;
      background: #e7e9eb;
      height: 2px;
    }
    /* Ensuring password text area will take up all available space in container */
    .card-body {
      min-height: 100px;
    }
      /* Specifies how placeholder text and our generated password will appear within the box */
      #password {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        display: block;
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 85px;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px dashed #c0c7cf;
        border-radius: 6px;
        resize: none;
        overflow: hidden;
      }
    /* Making the generate button stay within the center of the container */
    .card-footer {
      text-align: center;
    }
    /* Adding a thin gray line above our generate button, going across bottom of textbox */
    .card-footer::before {
      content: " ";
      display: block;
      width: 100%;
      background: #e7e9eb;
      height: 2px;
    }
    /* Clearing any floats and ensuring proper layout after the content of the card-footer */
    .card-footer::after {
      content: " ";
      display: block;
      clear: both;
    }
      /* How our 'Generate' button will be displayed within the card-footer class as well 
      as coloring, padding, margin, and font size */
      .btn {
        border: none;
        background-color: hsl(360, 91%, 36%);
        border-radius: 25px; /* Rounding button */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
          0px; /* Leaving this here because I am simply a student and did not write this file, 
          however I just want it commented that I do not see this even really being displayed 
          on the page and unsure of it's purpose. Box shadow it to make a box shadow, and
          this does not actually make one you can see? */
        color: hsl(0, 0%, 100%);
        display: inline-block;
        font-size: 22px;
        line-height: 22px;
        margin: 16px 16px 16px 20px;
        padding: 14px 34px;
        text-align: center;
        cursor: pointer;
      }

      
/* Adjusting the generate button and password text to decrease in sizing properties
under a screen size of 690px */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}
/* Adjusting the font within the generate button to become smaller once screen size
reached 500px or fallen below that amount */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
